.spinner {
    width: 5em;
    height: 5em;
    margin: 50px auto;
    border-radius: 50%;
    display: none;
}

.spinner_visible {
    display: block;
}

.spinner i::after {
    position: absolute;
    clip: rect(0, 5em, 5em, 2.5em);
    width: 5em;
    height: 5em;
    content: '';
    animation: spinner-circle 0.8s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.1em #b6b6b6;
}

@keyframes spinner-circle {
    0% { transform: rotate(-180deg); }
    100% { transform: rotate(180deg); }
}

.content_hidden {
    display: none;
}